<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Paste Bin</title>
</head>


<body style="background: beige">
    <div align="center" style="padding-top: 30px"><a href="http://www.loopy.tech">
            <img src="http://file.loopy.tech/logo.png" width="30%"></a>
    </div>

    <div align="center" style="width:85%; margin: auto;">
        <table align="center" border="0" cellpadding="10" cellspacing="0" style="padding-top: 20px">
            {% if msg%}
            <tr>
                <td colspan="2" style="color:red">{{msg}}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2">This site is inspired by Ubuntu PasteBin, which intended for use as a short-term
                    exchange of
                    pasted information between parties. All submitted data is considered public information.
                    Submitted
                    data
                    is not guaranteed to be permanent, and may be removed at any time. Please do not set up programs
                    to
                    send
                    data to this site in an automated fashion; it is intended to be used directly by humans. Note
                    that
                    paste
                    expirations are approximate and not guaranteed.
                </td>
            </tr>
        </table>
    </div>

    {% if form%}
    <form align="center" class="form" method="POST" style="padding-top: 3px">
        {{ form.hidden_tag() }}
        <table align="center" border="0" style="width:70%; margin: auto;padding-top: 20px">
            <tr>
                <td align="right">{{ form.record_title.label }}</td>
                <td align="left">{{ form.record_title() }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.record_type.label }}</td>
                <td align="left">{{ form.record_type() }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.record_expire.label }}</td>
                <td align="left">{{ form.record_expire() }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.record_content.label }}</td>
                <td align="left">{{ form.record_content() }}</td>
            </tr>
            <tr>
                <th colspan="2">{{ form.record_submit() }}</th>
            </tr>
        </table>
    </form>
    {% endif%}


</body>

</html>